.list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
  margin: 0;

  background-color: rgb(243, 231, 231);
}

.item {
  margin-bottom: 15px;
  margin-right: 15px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.title2 {
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: brown;
  background-color: rgb(243, 231, 231);
}

.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #aa9595;
}

.image {
  max-height: 250px;
}
