.list {
  width: 100%;
  margin: 0;
  border: 1px solid #e1e1e1;
  background-color: rgb(243, 231, 231);

  padding: 20px;
  box-shadow: 2px 1px 24px -9px rgba(80, 90, 97, 0.29) inset;
}

.item {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.title {
  font-size: 14px;
  text-align: center;
  color: brown;
}

.description {
  font-size: 13px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.data {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: brown;
}
