@import 'modern-normalize/modern-normalize.css';

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
  margin: 0;
  padding: 0;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
}
p {
  margin: 0;
}
h1,
h2,
h3 {
  display: block;
}
